<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">后台管理 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <span class="label label-Info"><h1><a href="/admin/user/list">用户管理</a></h1></span>
        <span class="label label-Info"><h1><a href="/admin/role/list">角色管理</a></h1></span>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>