<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="headerFragment">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:include=":: #pageTitle">东华大学爱书小蜜蜂服务队</title>
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/common.js}"></script>

</head>
<body>
<div th:fragment="navbarFragment">
  <div class="wrapper" id="topbar">
    <div class="inner">
      <div class="toptip">欢迎访问东华大学爱书小蜜蜂服务队网站！<span id="toptip_date"></span>！</div>
      <div class="topnav">
        <div class="search-bar" portletmode="search">
          <div class="search-box">
            <form method="post" th:action="@{/search}" target="_blank" id="searchform">
              <div class="input-item">
                <input type="text" name="keyword" id="keyword" value="在此输入">
              </div>
              <a href="javascript:;" class="input-submit" id="search-submit"><span>搜索</span></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" id="header">
    <div class="inner">
    </div>
  </div>

  <div class="wrapper" id="nav">
    <div class="inner">
      <div class="main-menu">
        <div id="wp_nav_w3">
          <ul class="wp-menu clearfix">
            <li class="menu-item i1"><a class="menu-link" th:href="@{/}" target="_self">网站首页</a></li>
            <li class="menu-item i2"><a class="menu-link" th:href="@{/newsletter/list}" target="_self">新闻动态</a></li>
            <li class="menu-item i3"><a class="menu-link" th:href="@{/notice/list}" target="_self">活动通知</a></li>
            <li class="menu-item i4"><a class="menu-link" th:href="@{/}" target="_self">队员风采</a></li>
            <li class="menu-item i5"><a class="menu-link" th:href="@{/resource/list}" target="_self">下载专区</a></li>
            <li class="menu-item i6"><a class="menu-link" th:href="@{/}" target="_self">我要提问</a></li>
            <li class="menu-item i7"><a class="menu-link" th:href="@{/}" target="_self">后台管理</a></li>
            <li class="menu-item split i8"><a class="menu-link"></a></li>
            <li class="menu-item user i8">
              <a sec:authorize="isAnonymous()" class="menu-link" th:href="@{/register}">注册</a>
              <a sec:authorize="isAuthenticated()" class="menu-link" th:href="@{/user/profile}"><span sec:authentication="name"></span></a>
            </li>
            <li class="menu-item user i9">
              <a sec:authorize="isAnonymous()" class="menu-link" th:href="@{/login}">登录</a>
              <a sec:authorize="isAuthenticated()" class="menu-link" th:href="@{/logout}">注销</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" id="banner">
    <div class="inner">
      <div class="banner"></div>
    </div>
  </div>

</div>


<div th:fragment="footerFragment">

  <div class="wrapper" id="botbar">
    <div class="inner clearfix">
      <div class="botnav">
        <div>
          <div id="wp_nav_w4">
            <span class="nav-cut cut-i1">|</span>
            <a class="nav-link link-i1" href="http://www.dhu.edu.cn/" target="_blank">东华大学</a>
            <span class="nav-cut cut-i2">|</span>
            <a class="nav-link link-i2" href="http://library.dhu.edu.cn/" target="_blank">东华大学图书馆</a>
            <span class="nav-cut cut-i3">|</span>
            <a class="nav-link link-i3" href="http://www.yiban.cn/" target="_blank">易班</a>
          </div>
        </div>
      </div>
      <div class="botlinks">
        <div class="links-wrap">
          <a class="links-arrow">校内网站链接</a>
          <div class="link-items">
            <div id="wp_news_w50">
              <ul>
                <li class="link-item"><a href="http://library.dhu.edu.cn/"><span>图书馆</span></a></li>
                <li class="link-item"><a href="http://news.dhu.edu.cn/"><span>新闻中心</span></a></li>
                <li class="link-item"><a href="http://my.dhu.edu.cn/"><span>信息门户</span></a></li>
                <li class="link-item"><a href="http://jw.dhu.edu.cn/"><span>教务处</span></a></li>
                <li class="link-item"><a href="http://zs.dhu.edu.cn/"><span>招生网</span></a></li>
                <li class="link-item"><a href="http://cst.dhu.edu.cn/"><span>计算机科学与技术学院</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" id="footer">
    <div class="inner">
      <div class="foot">
        <p>PNT</p>
        <p>Copyright &copy; 2015 E-mail: pnt@pnt.com</p>
      </div>
    </div>
  </div>

  <div id="gotop" >
    <a class="back-top"></a>
    <a class="weixin-code"><span><img th:src="@{/images/qrcode.png}"></span></a>
    <a class="jiathis_button_weixin fenxiang-code" ></a>
  </div>

</div>

</body>
</html>