<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">问题列表 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/question_list.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <div class="list_title">
            <h3>问题列表</h3>
            <hr>
        </div>
        <div class="list_content">
            <div th:if="${#lists.isEmpty(questions)}" class="alert alert-warning">
                <span align="center">暂无问题!</span>
            </div>
            <div th:if="${deletion eq 'unsuccess'}" class="alert alert-danger">
                <div><strong>错误!</strong> 问题未被删除</div>
            </div>
            <div th:if="${deletion eq 'success'}" class="alert alert-success">
                <div><strong>成功!</strong> 问题被删除</div>
            </div>

            <div th:each="question:${questions}">
                <div class="list-item">
                    <a th:href="@{/question/delete/{id}(id=${question.id})}" sec:authorize="hasAuthority('manageQuestion')">
                        <span class="glyphicon glyphicon-remove delete_symbol"></span>
                    </a>
                    <div class="question-title">
                        <a class="title-link" th:href="@{/question/view/{id}(id=${question.id})}" th:text="${question.title}"></a>
                    </div>

                    <div class="question-info">
                        <div class="answer-num"><label th:text="${#lists.size(question.replies)}"></label>&nbsp;回答</div>
                        <div class="question-time" th:text="${#temporals.format(question.createdDate, 'yyyy.MM.dd')}"></div>
                    </div>
                </div>
            </div>
            <div class="page fl">
                <span>当前为第<label th:text="${pageCur+1}"></label>页，总共为<lable th:text="${pageCount}"></lable>页</span>
            </div>
            <div class="page tr marginr">
                <a th:if="${pageCur <= 0}" class="btn btn-default" disabled='disabled'>首页</a>
                <a th:if="${pageCur > 0}" class="btn btn-default" th:href="@{/question/list(page=0)}">首页</a>

                <a th:if="${pageCur < 1}" class="btn btn-default" disabled='disabled'>上一页</a></th:if>
                <a th:if="${pageCur >= 1}" class="btn btn-default" th:href="@{/question/list(page=${pageCur-1})}">上一页</a>

                <a th:if="${pageCur >= pageCount-1}" class="btn btn-default" disabled='disabled'>下一页</a>
                <a th:if="${pageCur < pageCount-1}" class="btn btn-default" th:href="@{/question/list(page=${pageCur+1})}">下一页</a>

                <a th:if="${pageCur >= pageCount-1}" class="btn btn-default" disabled='disabled'>尾页</a></th:if>
                <a th:if="${pageCur < pageCount-1}" class="btn btn-default" th:href="@{/question/list/(page=${pageCount-1})}">尾页</a>
            </div>
            <div class="askQuestion">
                <a th:href="@{/question/add}">我要提问</a>
            </div>
        </div>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>
