<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">权限列表 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <div class="list_title">
            <h3>权限列表</h3>
            <hr>
        </div>
        <div class="list_content">
            <div>
                <div>
                    <div th:if="${#lists.isEmpty(permissions)}" class="alert alert-warning">
                        <span align="center">暂无权限!</span>
                    </div>
                </div>
                <div th:if="${deletion eq 'unsuccess'}" class="alert alert-danger">
                    <div>
                        <strong>错误!</strong> 权限未被删除
                    </div>
                </div>
                <div th:if="${deletion eq 'success'}" class="alert alert-success">
                    <div>
                        <strong>成功!</strong> 权限成功删除
                    </div>
                </div>
            </div>

            <ul th:each="permission:${permissions}">
                <li>
                    <time th:text="${#temporals.format(permission.createdDate, 'yyyy/MM/dd')}"></time>
                    <span id="_name" th:text="${permission.name}"></span>
                    <span id="permission_description" th:text="${permission.description}"></span>
                    <span class="list_button">
                        <a class="btn btn-sm btn-danger" th:href="@{/admin/permission/delete/{id}(id=${permission.id})}">删除</a>
                    </span>
                    <span class="list_button">
                        <a class="btn btn-sm btn-warning" th:href="@{/admin/permission/edit/{id}(id=${permission.id})}">编辑</a>
                    </span>
                </li>
            </ul>
            <a class="add_item" th:href="@{/admin/permission/post}"><img src="/images/ico_add.png" width="20" height="20" />添加</a>
        </div>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>