<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">通知列表 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <div class="list_title">
            <h3>通知列表</h3>
            <hr>
        </div>
        <div class="list_content">
            <div>
                <div>
                    <div th:if="${#lists.isEmpty(notices)}" class="alert alert-warning">
                        <span align="center">暂无通知!</span>
                    </div>
                </div>
                <div th:if="${deletion eq 'unsuccess'}" class="alert alert-danger">
                    <div>
                        <strong>错误!</strong> 通知未被删除
                    </div>
                </div>
                <div th:if="${deletion eq 'success'}" class="alert alert-success">
                    <div>
                        <strong>成功!</strong> 通知成功删除
                    </div>
                </div>
            </div>

            <ul th:each="notice:${notices}">
                <li>
                    <a th:href="@{/notice/view/{id}(id=${notice.id})}">
                    <span id="_title" th:text="${notice.title}">
                    </span></a>
                    <!--<span id="notice_content" th:text="${notice.content}"></span>-->
                    <span class="list_button" sec:authorize="hasAuthority('manageNotice')">
                        <a class="btn btn-sm btn-danger" th:href="@{/notice/delete/{id}(id=${notice.id})}">删除</a>
                    </span>
                    <span class="list_button" sec:authorize="hasAuthority('manageNotice')">
                        <a class="btn btn-sm btn-warning" th:href="@{/notice/edit/{id}(id=${notice.id})}">编辑</a>
                    </span>
                    <time class="time" th:text="${#temporals.format(notice.createdDate, 'yyyy/MM/dd')}"></time>
                </li>
            </ul>
            <a class="add_item" th:href="@{/notice/post}" sec:authorize="hasAuthority('manageNotice')">
                <img src="/images/ico_add.png" width="20" height="20" />添加</a>
            <div class="page_tr">
                <a th:href="@{/notice/list(page=${pageCur-1})}" th:if="(${pageCur} &gt; 0)">上一页</a>
                <a th:href="@{/notice/list(page=${pageCur+1})}" th:if="(${pageCur} &lt; ${pageCount-1})">下一页</a>
                <span>当前为第<label th:text="${pageCur+1}"></label>页，总共为<lable th:text="${pageCount}"></lable>页</span>
            </div>

        </div>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>
