<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">活动列表 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <div class="list_title">
            <h3>活动列表</h3>
            <hr>
        </div>
        <div class="list_content">
            <div>
                <div>
                    <div th:if="${#lists.isEmpty(activities)}" class="alert alert-warning">
                        <span align="center">暂无活动!</span>
                    </div>
                </div>
                <div th:if="${deletion eq 'unsuccess'}" class="alert alert-danger">
                    <div>
                        <strong>错误!</strong> 活动未被删除
                    </div>
                </div>
                <div th:if="${deletion eq 'success'}" class="alert alert-success">
                    <div>
                        <strong>成功!</strong> 活动成功删除
                    </div>
                </div>
            </div>

            <ul th:each="activity:${activities}">
                <li>
                    <time></time>
                    <span id="_name" th:text="${activity.name}"></span>
                    <!--
                    <span id="activity_description" th:text="${activity.description}"></span>
                    -->
                    <span class="list_button">
                        <button><a th:href="@{/activity/delete/{id}(id=${activity.id})}">删除</a></button>
                    </span>
                    <span class="list_button">
                        <button><a th:href="@{/activity/edit/{id}(id=${activity.id})}">编辑</a></button>
                    </span>
                </li>
            </ul>
            <a class="add_item" th:href="@{/activity/post}"><img src="/images/ico_add.png" width="20" height="20" />添加</a>
            <div class="page_tr">
                <a th:href="@{/activity/list(page=${pageCur-1})}">上一页</a>
                <a th:href="@{/activity/list(page=${pageCur+1})}">下一页</a>
                <span>当前为第<label th:text="${pageCur+1}"></label>页，总共为<lable th:text="${pageCount}"></lable>页</span>
            </div>

        </div>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>