<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Activity List</title>
</head>
<body>

<div th:if="${deletion eq 'unsuccess'}">
    <div>
        <strong>Error!</strong> Activity Not Deleted.
    </div>
</div>
<div th:if="${deletion eq 'success'}">
    <div>
        <strong>Success!</strong> Activity Deleted Successfully.
    </div>
</div>
<div th:if="${edit eq 'success'}">
    <strong>Success!</strong> Activity Update Successfully.
</div>
<div th:if="${edit eq 'unsuccess'}">
    <strong>Failed!</strong> Activity Cannot be found.
</div>

<tbody>
<table>
<tr th:if="${#lists.isEmpty(activities)}">
    <td colspan="4" align="center">No Activity Posted Yet!!!</td>
</tr>
<tr>
    <td>活动名称</td>
    <td>活动描述</td>
</tr>
<tr th:each="activity:${activities}">
    <td th:text="${activity.name}"></td>
    <td th:text="${activity.description}"></td>
    <td>
        <a th:href="@{/activity/edit/{id}(id=${activity.id})}">编辑</a>
    </td>
    <td>
        <a th:href="@{/activity/delete/{id}(id=${activity.id})}">删除</a>
    </td>
</tr>
</table>
<a th:href="@{/activity/post}">添加</a>
</tbody>
</body>
</html>