<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>

    <form role="form" name="form1" action="" method="post">

        <input type="hidden" th:name="*{_csrf.parameterName}" th:value="*{_csrf.token}"/>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" th:value="*{form1.password}" required/>
        </div>
        <div>
            <label for="passwordRepeated">Repeat</label>
            <input type="password" name="passwordRepeated" id="passwordRepeated" th:value="*{form1.passwordRepeated}" required/>
        </div>

        <button type="submit">Submit</button>
    </form>

</body>
</html>