<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">修改密码 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <div class="login_form">
            <h3>修&nbsp;改&nbsp;密&nbsp;码</h3>
            <form role="form" name="form1" action="" th:object="${form1}" method="post">
                <div class="form_group">
                    <label for="password" class="form_label">新密码</label>
                    <input class="form_control" type="password" name="password" id="password" th:value="*{password}" required/>
                    <!--<span th:if="${#fields.hasErrors('passsword')}" th:errors="*{password}">Password Error</span>-->
                </div>
                <div class="form_group">
                    <label for="passwordRepeated" class="form_label">重复输入</label>
                    <input class="form_control" type="password" name="passwordRepeated" id="passwordRepeated" th:value="*{passwordRepeated}" required/>
                </div>
                <div class="form_group">
                    <div class="center">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>