<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
  <title id="pageTitle">个人信息 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
  <div class="inner main-con">
    <span><span th:text="${user.username}"></span>'s Profile</span>
    <div th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
    <div>
        <img th:src="${user.icon}"/>头像
      <span>
        <i></i>
        <form th:action="@{/user/avatar}" method="post" enctype="multipart/form-data">
          <label>Select files...</label>
          <input id="fileupload" type="file" name="file" />
          <input type="submit" value="Upload">
        </form>
      </span>
    </div>

    <div>
      <label>ID</label><span th:text="${user.id}"></span>
    </div>

    <div>
      <label>姓名</label><span th:text="${user.username}"></span>
    </div>

    <div>
      <label>学号</label><span th:text="${user.userNumber}"></span>
    </div>

    <div>
      <label>手机</label><span th:text="${user.phone}"></span>
    </div>

    <div>
      <label>邮箱</label><span th:text="${user.email}"></span>
    </div>

    <div>
      <label>性别</label><span th:text="${user.sex}"></span>
    </div>

    <div>
      <label>专业</label><span th:text="${user.major}"></span>
    </div>

    <div>
      <label>入职时间</label><span th:text="${user.entryDate}"></span>
    </div>

    <div>
      <label>离职时间</label><span th:text="${user.leaveDate}"></span>
    </div>
  </div>
</div>

<div th:include="layouts/layout :: footerFragment"></div>

</body>
</html>