<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">通讯稿列表 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/newsletter_list.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
    <div class="inner main-con">
        <div class="list_title">
            <h3>通讯稿列表</h3>
            <hr>
        </div>
        <div class="list_content">
            <div>
                <div>
                    <div th:if="${#lists.isEmpty(newsletters)}" class="alert alert-warning">
                        <span align="center">暂无通讯稿!</span>
                    </div>
                </div>
                <div th:if="${deletion eq 'unsuccess'}" class="alert alert-danger">
                    <div>
                        <strong>错误!</strong> 通讯稿未被删除
                    </div>
                </div>
                <div th:if="${deletion eq 'success'}" class="alert alert-success">
                    <div>
                        <strong>成功!</strong> 通讯稿成功删除
                    </div>
                </div>
            </div>

            <ul th:each="newsletter:${newsletters}">
                <li class="hover_underline">
                    <a th:href="@{/newsletter/view/{id}(id=${newsletter.id})}">
                        <span id="_title" th:text="${newsletter.title}"></span>
                    </a>
                    <span class="list_button" sec:authorize="hasAuthority('manageNewsletter')">
                        <a class="btn btn-sm btn-danger" th:href="@{/newsletter/delete/{id}(id=${newsletter.id})}">删除</a>
                    </span>
                    <span class="list_button" sec:authorize="hasAuthority('manageNewsletter')">
                        <a class="btn btn-sm btn-warning" th:href="@{/newsletter/edit/{id}(id=${newsletter.id})}">编辑</a>
                    </span>
                    <time th:text="${#temporals.format(newsletter.createdDate, 'yyyy/MM/dd')}" class="time"></time>
                </li>
            </ul>

            <div class="add_item">
                <a th:href="@{/newsletter/post}" sec:authorize="hasAuthority('manageNewsletter')"><img src="/images/ico_add.png" width="20" height="20" />添加</a>
            </div>

            <div class="page fl">
                <span>当前为第<label th:text="${pageCur+1}"></label>页，总共为<lable th:text="${pageCount}"></lable>页</span>
            </div>
            <div class="page tr marginr">
                <a th:if="${pageCur <= 0}" class="btn btn-default" disabled='disabled'>首页</a>
                <a th:if="${pageCur > 0}" class="btn btn-default" th:href="@{/newsletter/list(page=0)}">首页</a>

                <a th:if="${pageCur < 1}" class="btn btn-default" disabled='disabled'>上一页</a></th:if>
                <a th:if="${pageCur >= 1}" class="btn btn-default" th:href="@{/newsletter/list(page=${pageCur-1})}">上一页</a>

                <a th:if="${pageCur >= pageCount-1}" class="btn btn-default" disabled='disabled'>下一页</a>
                <a th:if="${pageCur < pageCount-1}" class="btn btn-default" th:href="@{/newsletter/list(page=${pageCur+1})}">下一页</a>

                <a th:if="${pageCur >= pageCount-1}" class="btn btn-default" disabled='disabled'>尾页</a></th:if>
                <a th:if="${pageCur < pageCount-1}" class="btn btn-default" th:href="@{/newsletter/list/(page=${pageCount-1})}">尾页</a>
            </div>
        </div>
    </div>
</div>
<div th:include="layouts/layout :: footerFragment"></div>
</body>
</html>