@charset "utf-8";

/* CSS Document */
#container .inner {
    background-color: #fafafa;
}

.login_form {
    width: 500px;
    background-color: #fefeff;
    border-radius: 4px 4px 0 0;
    position: relative;
    margin: 35px auto;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.login_form h3 {
    font-size: 18px;
    color: #5a5a59;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.width_longer {
    width: 665px;
}

.description_label {
    margin-bottom: 10px;
    text-align: right;
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding-left: 60px;
    padding-top: 7px;
    font-weight: 700;
    font-size:14px;
}

.description_control {
    display: block;
    position: relative;
    padding: 6px 12px;
    max-height: 500px;
    line-height: 1.42857143;
    margin-top:15px;
}