@charset "utf-8";

/* common css */
body, ul, ol, li, h1, h2, h3, h4, h5, h6, table, td, th, form, fieldset, img, dl, dt, dd {
    margin: 0;
    padding: 0;
}

li, ol {
    list-style: none;
}

img {
    border: 0
}

/* Base Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

:focus {
    outline: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clear {
    width: 100%;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    clear: both;
    display: block;
    _display: inline;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clearfix {
    display: block;
    *zoom: 1;
}

/**布局开始**/
body {
    background: #f3f4f5 url(/images/bg.gif) repeat-x 0 34px;
}

body, p {
    font: 14px/1 "simsun", "Microsoft YaHei", "\u5b8b\u4f53", Tahoma, Geneva, sans-serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #2c4396;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.wrapper .inner {
    width: 1000px;
    margin: 0 auto;
}

/**页面全局宽度**/

/**标题栏新闻窗口**/
.post {
    margin-bottom: 10px;
}

.post .tt {
    height: 32px;
    border-bottom: 1px solid #6db4e0;
}

/**标题栏**/
.post .tt .tit {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #216687;
}

/**标题字体**/
.post .tt .tit .title {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-left: 35px;
    background: url(/images/icon_tit.gif) no-repeat 5px center;
}

/**标题图标**/
.post .tt .more_btn {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    float: right;
}

/**更多按钮**/
.post .con {
    padding: 5px 0;
    margin: 0 auto;
}

.post .con .wp_article_list .list_item {
    border-bottom: 1px dashed #ccc;
}

/**新闻列表**/
.post .con .wp_article_list .list_item .Article_Index {
    background: url(/images/li.gif) no-repeat center;
}

/**新闻列表图标**/

/**自定义新闻列表**/
.news_list {
}

.news_list li.news {
    line-height: 24px;
    padding-left: 13px;
    background: url(/images/icon_li0.gif) no-repeat 0 9px;
}

/**标题图标**/
.news_list li.news span.news_title {
    float: left;
}

.news_list li.news span.news_meta {
    float: right;
    margin-left: 2px;
}

.news_list li.news p {
    clear: both;
    line-height: 20px;
    color: #787878;
}

.news_list li.news p a {
    color: #787878;
}

.news_list li.news p a:hover {
    color: #444;
    text-decoration: underline;
}

/**topbar**/
#topbar {
    background: #2c4396;
}

#topbar .inner {
    height: 36px;
    line-height: 36px;
    color: #A2AAC7;
}

#topbar .toptip {
    float: left;
}

#topbar .topnav {
    float: right;
}

#topbar .topnav a {
    float: left;
    margin-left: 24px;
    display: inline-block;
    color: #A2AAC7;
}

#topbar .topnav a:hover {
    color: #eee;
    text-decoration: underline;
}

/**页头开始**/
#header {
    height: 105px;
    border-top: 1px solid #aab2c3;
}

#header .inner {
    height: 105px;
    background: url(/images/head.jpg) no-repeat 0 0;
}

.search-bar {
    width: 150px;
    height: 28px;
    float: right;
    padding-top: 2px;
}

.search-box {
    width: 100%;
    background: #6b76a4;
    height: 29px;
    position: relative;
    background: url(/images/searchbg.gif) no-repeat 0 3px
}

.search-box .input-item {
    margin-left: 3px;
    margin-right: 29px;
}

.search-box .input-item input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 19px;
    line-height: 19px;
    padding: 5px 0;
    background: none;
    color: #999;
    font-size: 14px;
    font-family: "Microsoft YaHei"
}

.search-box .input-submit {
    display: block;
    width: 29px;
    height: 29px;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.search-box .input-submit span {
    display: none;
}

/**导航样式**/
#nav {
}

#nav .inner { /* height: 43px; */
    background: url(/images/navbg.gif) repeat-x 0 0;
    position: relative;
    z-index: 1000;
}

#nav .menu-item {
    float: left;
    position: relative;
}

#nav .menu-item a.menu-link {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    color: #000;
    font-size: 15px;
    font-family: "Microsoft yahei";
    padding: 0 24px;
    position: relative;
}

#nav .menu-item.split a.menu-link {
    margin-left: 40px;
    visibility: hidden;
}

#nav .menu-item.user a.menu-link {
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    padding: 2px 20px;
}

#nav .menu-item a.menu-link:hover, #nav .menu-item a.selected, #nav .menu-item a.parent {
    background: url(/images/navhover.png) no-repeat center center;
    color: #fff;
    cursor: pointer;
}

#nav .sub-menu {
    width: 186px;
    position: absolute;
    left: 0;
    top: 43px;
    z-index: 1001;
    display: none;
    background: #e4e4e4 url(/images/subnav_bg.gif) repeat-x 0 0;
}

#nav .sub-menu li {
    position: relative;
    list-style-position: outside;
}

#nav .sub-menu a.sub-link {
    display: block;
    line-height: 18px;
    font-size: 13px;
    padding: 6px 20px;
    color: #323232;
}

#nav .sub-menu a.sub-link:hover, #nav .sub-menu a.selected, #nav .sub-menu a.parent {
    background: #2c4396;
    color: #fff;
}

#nav .sub-menu .sub-menu {
    left: 186px;
    top: 0px;
}

#nav .i1, #nav .i2, #nav .i3, #nav .i4, #nav .i5, #nav .i6, #nav .i7, #nav .i8, #nav .i9 {
    z-index: 1000;
}

/**banner**/
#banner {
    margin-top: 0px;
}

#banner .banner {
    height: 5px;
    background-color: #70B1E9;
}

.banner img {
    width: 100%;
    vertical-align: top;
}

/**主体开始**/
#container {
}

#container .inner {
    width: 976px;
    padding: 12px;
    background: #fff;
    min-height:550px;
}

/**首页三列布局**/
.ml {
    width: 220px;
    float: left;
    margin-left: 6px;
    margin-right: 45px;
    _display: inline-block;
}

.mc {
    width: 436px;
    float: left;
}

.mr {
    width: 216px;
    float: right;
    margin-right: 10px;
}

.info.mr {
    margin-top: 6px;
}

.main-con .box_wrap {
    margin-bottom: 11px;
}

.main-con .special-panel .box_wrap {
    margin-bottom: 0;
}

.main-con .focus {
    width: 565px;
    height: 318px;
    float: left;
    margin-top: 15px;
    margin-bottom: 16px;
}

.main-con .hotnews {
    width: 378px;
    height: 308px;
    float: right;
    margin-top: 15px;
    margin-right: 4px;
    margin-bottom: 16px;
}

.panel-post {
}

.panel-post .post-head {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #d9d9d9;
}

.panel-post .post-head .title-bar {
    display: inline-block;
    float: left;
    margin-left: 5px;
}

.panel-post .post-head .title-bar .title-text {
    display: inline-block;
    padding-right: 3px;
    color: #171717;
    font-size: 18px;
    font-family: "Microsoft yahei";
    font-weight: bold;
}

.panel-post .post-head .more-link {
    display: inline-block;
    float: right;
    color: #7b7b7b;
    font-size: 10px;
    margin-right: 0px;
}

.panel-post .post-head .more-link a {
    display: inline-block;
    color: #7b7b7b;
    font-size: 14px;
    font-weight: normal;
}

.panel-post .post-head .more-link a:hover {
    color: #152680;
}

.panel-post .post-wrap {
    margin: 11px 5px;
    padding-bottom: 5px;
    line-height: 28px;
}

.news-list .news-item {
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    *zoom: 1;
}

.news-list .news-item span {
    float: right;
}

.news-list .news-item span.news-col {
    float: left;
    padding-right: 3px;
    overflow: hidden;
    height: 24px;
    max-width: 21%;
    color: #4b5a90;
}

.news-list .news-item a {
    color: #343434; /* float: left; */
}

.news-list .news-item span a {
    float: none;
}

.news-list .news-item a:hover {
    color: #2c4396;
    text-decoration: underline;
}

.panel-style1 .post-head .title-bar {
    margin-left: 6px;
}

.panel-style1 .post-head .title-bar .title-text {
    padding: 0 16px;
    background: #5865a9;
    color: #fff;
    height: 35px;
    line-height: 30px;
}

.panel-style1 .post-wrap {
    padding-top: 12px;
}

.panel-style2 .post-head .title-bar .title-text {
    padding-left: 37px;
    background: url(/images/icons.png) no-repeat 0 -69px;
}

.panel-style2 .post-wrap a {
}

.panel-style2 .post-wrap a img {
    vertical-align: top;
}

.post-7 .post-head .title-bar .title-text {
    background-position: 0 -218px;
}

.post-70 .post-head .title-bar .title-text {
    background-position: 0px -271px;
}

.post-71 .post-head .title-bar .title-text {
    background-position: 0 -327px;
}

.post-72 .post-head .title-bar .title-text {
    background-position: 3px -383px;
}

.post-8 .post-head .title-bar .title-text {
    background-position: 0 -504px;
}

.post-80 .post-head .title-bar .title-text {
    background-position: 0 -562px;
}

.post-9 .post-head .title-bar .title-text {
    background-position: 0 -623px;
}

.post-90 .post-head .title-bar .title-text {
    background-position: 0 -119px;
}

.post-91 .post-head .title-bar .title-text {
    background-position: 0 -801px;
}

.post-92 .post-head .title-bar .title-text {
    background-position: 0 -745px;
}

.post-90 .post-head .title-bar .title-text {
    background-position: 0 -684px;
}

.post-11 .post-head .title-bar .title-text {
    background-position: 5px -440px;
}

.post-11 .post-wrap {
    /*padding-top: 15px;*/
}

.panel-style3 {
    border-top: 0;
}

.panel-style3 .post-head .title-bar {
    margin-left: 5px;
}

.panel-style3 .post-head .title-bar .title-text {
    color: #fff;
}

.panel-style3 .post-head .more-link {
    display: inline-block;
    float: right;
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

.panel-style3 .post-head .more-link a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}

.panel-style3 .post-head .more-link a:hover {
    color: #f68532
}

.panel-style3 .post-wrap {
    margin: 0 18px;
    padding-top: 10px;
}

.hotnews-nav, .panel-style3 .post-head {
    height: 43px;
    padding-left: 30px;
    border-bottom: 1px solid #e1e1e1;
    background: url(/images/icons.png) no-repeat 0 -65px;
}

.hotnews-nav .nav-list {
    height: 43px;
    line-height: 43px;
    padding-right: 14px;
}

.nav-list a {
    font-size: 16px;
    color: #aaa;
    float: left;
    font-weight: bold;
    font-family: "Microsoft yahei";
}

.nav-list a:hover {
    color: #000;
    text-decoration: none;
}

.nav-list a.selected {
    color: #000;
}

.nav-list span {
    float: left;
    padding: 0 7px;
    color: #000;
    font-size: 15px;
}

.nav-list span.cut-i1 {
    display: none;
}

.hotnews-list {
    display: none;
}

#wp_news_w62 .news-item { /*height:23px; *line-height:23px;*/
}

.hotnews-list .news-list .news-item {
    height: 26px;
    line-height: 26px;
    width: 378px;
    overflow: hidden;
}

.hotnews-list .news-list .news-item i.newly, .hotnews-list .news-list .news-item i.newly a {
    float: left;
    font-style: normal;
    height: 26px;
    *height: 23px;
    *margin-top: 0px;
    line-height: 26px;
    *line-height: 23px;
    color: #4b5a90;
    margin-right: 3px;
    max-width: 81px;
}

.hotnews-list .more-link {
    float: right;
    margin-top: -44px;
    line-height: 39px;
    color: #fff;
}

.hotnews-list .more-link a {
    color: #fff;
}

.hotnews-list .more-link a:hover {
    color: #f68532
}

.hotnews-list .news-body {
    padding: 10px 0;
}

.post-8 .post-wrap {
    margin: 11px 0px;
}

.post-80 .post-wrap {
    padding-bottom: 0;
}

.post-80 .post-wrap .hot-special {
    width: 100%;
    height: 202px;
}

.post-81 .post-wrap {
    margin: 0 5px;
    padding: 6px 0 12px 0;
}

.post-81 .news-list .news-item {
    width: 49.996%;
    float: left;
}

.post-81 .news-list .news-item a {
    padding-left: 11px;
    background: url(/images/li.png) no-repeat 0 50%;
}

.post-9 .post-wrap {
    padding-bottom: 6px;
}

.post-90 .post-wrap {
    padding-bottom: 3px;
}

.post-9 .post-wrap .news-item img {
    width: 100%;
    height: 116px;
}

.post-90 .post-wrap .news-item img {
    width: 100%;
    height: 114px;
}

.post-90 .post-wrap .video_title_text {
    height: 23px;
    line-height: 23px;
}

.post-91 .post-wrap .news-item {
    display: block;
    width: 49.996%;
    float: left;
    text-align: center;
}

.post-91 .post-wrap .news-item img {
    width: 90px;
    height: 100px;
}

.post-91 .post-wrap .news-item em {
    display: block;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    margin-top: 5px;
    font-style: normal;
}

.post-92 .post-head {
    margin-bottom: 14px;
}

/**focus**/
.focus-wrap .focus-title-bar {
    height: 40px;
    text-align: left;
}

.focus-wrap .focus-title-bar h2 {
    padding-left: 30px;
}

.focus-wrap .focus-title {
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    font-family: "Microsoft YaHei"
}

/**底部链接**/
#botbar {
    border-bottom: 1px solid #10215c;
    background: #2c4396;
}

#botbar .inner {
    height: 45px;
}

.botnav {
    float: left;
    height: 45px;
    line-height: 45px;
}

.botnav a, .botnav span {
    display: inline-block;
    float: left;
    color: #dddcdc; /* font-size: 14px; */
    font-weight: normal;
}

.botnav a:hover {
    color: #dce5f1;
    text-decoration: underline;
}

.botnav span {
    padding: 0 20px;
}

.botnav span.cut-i1 {
    display: none;
}

.botlinks {
    float: right;
}

.botlinks .links-wrap {
    position: relative;
    float: left;
    display: inline-block;
    margin-left: 8px;
    width: 150px;
    height: 26px;
    line-height: 26px;
    background: #fff;
    margin-top: 10px;
}

.botlinks .links-wrap a.links-arrow {
    display: block;
    height: 26px;
    line-height: 26px;
    padding: 0 25px 0 10px;
    color: #333;
    background: #fff url(/images/arrow.png) no-repeat 130px 9px;
}

.botlinks .links-wrap a.links-arrow:hover, .botlinks .wrap-open a.links-arrow {
    color: #010101;
    background-position: 130px -33px;
    cursor: pointer;
}

.botlinks .links-wrap .link-items {
    position: absolute;
    width: auto;
    min-width: 180px;
    _width: 180px;
    height: auto;
    max-height: 300px;
    _height: 300px;
    overflow: auto;
    overflow-x: hidden;
    right: 0;
    bottom: 26px;
    background: #f5f5f5;
    display: none;
}

.botlinks .links-wrap .link-items a {
    display: block;
    line-height: 15px;
    padding: 5px 0;
    color: #444;
}

.botlinks .links-wrap .link-items a span {
    display: block;
    margin: 0 6px;
    white-space: nowrap;
    _white-space: normal;
}

.botlinks .links-wrap .link-items a:hover {
    color: #fff;
    background: #2b3569;
    cursor: pointer;
}

/**列表页**/
.col_menu {
    display: none;
    float: left;
    width: 230px;
    border-radius: 7px 7px 0 0;
    background: #fff url(/images/col_bg.jpg) no-repeat 50% bottom;
    overflow: hidden;
}

.col_menu .col_menu_head {
    background: #eee;
}

/**位置栏目背景**/
.col_menu .col_menu_head h3.col_name {
    font-size: 18px;
    font-weight: normal;
    color: #2c4396;
}

/**位置栏目字体**/
.col_menu .col_menu_head h3.col_name .col_name_text {
    display: block;
    line-height: 25px;
    padding: 6px 5px 6px 30px;
    background: url(/images/icon_col_name.gif) no-repeat 5px 50%;
}

/**栏目名称图标**/
/**栏目列表*/
.col_list .wp_listcolumn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
    height: auto; /* min-height:368px; */
}

.col_list .wp_listcolumn .wp_column a {
    color: #4a4a4a;
    background: #ffffff url(/images/icon_column_1.gif) no-repeat 6px 12px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #fff;
}

/**一级子栏目**/
.col_list .wp_listcolumn .wp_column a:hover, .col_list .wp_listcolumn .wp_column a.selected {
    color: #000;
    background-image: url(/images/icon_column_1_hover.gif);
}

/**鼠标经过或选中一级子栏目**/
.col_list .wp_listcolumn .wp_column a.selected span.column-name {
    color: #5865A9;
}

.col_list .wp_listcolumn .wp_subcolumn .wp_column a {
    color: #454545;
    background: #e8e8e8 url(/images/icon_column_2.gif) no-repeat 16px 11px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #bbb;
}

/**二级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_column a:hover, .col_list .wp_listcolumn .wp_subcolumn .wp_column a.selected {
    color: #000;
    background-image: url(/images/icon_column_2_hover.gif);
}

/**鼠标经过或选中二级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_column a.selected span.column-name {
    color: #5865A9;
}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a {
    background: #f2f2f2 url(/images/icon_column_3.gif) no-repeat 26px 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}

/**三级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover, .col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected {
    color: #000;
    background-image: url(/images/icon_column_3_hover.gif);
}

/**鼠标经过或选中三级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name {
    color: #5865A9;
}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a {
    background: #f5f5f5 url(/images/icon_column_3.gif) no-repeat 36px 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/**四级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover, .col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected {
    color: #000;
    background-image: url(/images/icon_column_3_hover.gif);
}

/**鼠标经过或选中四级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name {
    color: #5865A9;
}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a {
    background: #f9f9f9 url(/images/icon_column_3.gif) no-repeat 46px 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}

/**五级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover, .col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected {
    color: #000;
    background-image: url(/images/icon_column_3_hover.gif);
}

/**鼠标经过或选中五级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name {
    color: #5865A9;
}

.col_news {
    width: 733px;
    float: left;
    margin-top: 10px;
}

/**栏目新闻**/
.col_news_head {
    border-bottom: 1px solid #ccc;
}

.col_metas .col_title {
    display: inline-block;
    float: left;
    height: 35px;
    line-height: 33px;
}

/**当前栏目**/
.col_metas .col_title h2 {
    display: inline-block;
    font-size: 19px;
    font-family: "Microsoft yahei";
    font-weight: normal;
    color: #34449b;
    padding-left: 2px;
    float: left;
}

/**当前栏目名称**/
.col_metas .col_path {
    display: inline-block;
    float: right;
    white-space: nowrap;
    height: 19px;
    line-height: 19px;
    margin-top: 7px;
    padding-right: 10px;
}

/**当前位置**/
.col_metas .col_path a, .col_metas .col_path span {
    float: left;
}

.col_news_con {
    padding: 10px 0;
    margin: 0 10px;
    height: auto;
    min-height: 350px;
    _height: 350px;
}

.col_news_list {
    margin-top: 7px;
}

.col_news_list .wp_article_list .list_item {
}

/**栏目新闻列表**/
.col_news_list .wp_article_list .list_item .Article_Index {
    background: url(/images/li.gif) no-repeat center;
}

/**栏目新闻图标序号**/
.col_news_list .wp_entry, .col_news_list .wp_entry p {
    line-height: 1.7;
    font-size: 14px;
    color: #333;
}

.col_news_list .wp_entry p {
    margin-bottom: 6px;
}

.col_news_list .wp_entry img {
    max-width: 674px;
    _width: expression(this.width > 674 ? "674px" : this.width);
}

/**列表页文章图片大小限制**/

/**文章页**/
.infobox {
    float: left;
    width: 690px;
    margin: 0 15px;
}

.article {
}

.article h1.arti_title {
    line-height: 26px;
    font-family: "Microsoft YaHei";
    padding: 15px 0 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #282828;
    border-bottom: 2px solid #dbdbdb;
    text-align: center;
}

/**文章标题**/
.article div.arti_title {
    line-height: 30px;
    font-family: "Microsoft YaHei";
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #282828;
    text-align: center;
}

/**文章标题**/
.article p.arti_metas {
    display: inline-block;
    width: 100%;
    line-height: 24px;
    padding: 10px;
    padding-left: 0px;
    margin-left: -5px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.article .arti_metas { /* display:inline-block; */ /* width:100%; */
    line-height: 24px;
    padding: 10px;
    padding-left: 0px;
    margin-left: -5px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

.article .arti_metas.f {
    text-align: right;
}

.article .arti_metas span {
    margin: 0 5px;
    font-size: 13px;
    color: #787878;
    float: left;
}

/**文章其他属性**/
.article .arti_metas span.arti_publisher.f {
    float: none;
}

/**文章其他属性**/
.article .arti_metas span .WP_VisitCount {
    float: none;
}

.article .arti_metas .page-tools {
    float: right;
    display: inline-block;
    margin-right: -18px;
}

.article .arti_metas .page-tools .page-tool-i a {
    display: inline-block;
    width: 35px;
    height: 24px;
    text-indent: 0em;
    background: url(/images/main_desktop1.png) no-repeat 0 0;
}

.article .arti_metas .page-tools .page-tool-s a {
    background-position: -150px -15px;
}

.article .arti_metas .page-tools .page-tool-u a {
    background-position: -89px -16px;
}

.article .arti_metas .page-tools .page-tool-d a {
    background-position: -120px -16px;
}

.article .arti_metas .page-tools .page-tool-s a:hover {
    background-position: -150px -56px;
}

.article .arti_metas .page-tools .page-tool-u a:hover {
    background-position: -89px -57px;
}

.article .arti_metas .page-tools .page-tool-d a:hover {
    background-position: -120px -57px;
}

.article .entry {
    margin: 10px auto;
    overflow: hidden;
}

/**文章内容**/
.article .entry .read, .article .entry .read p {
    line-height: 2;
    font-size: 14px;
    color: #333;
}

/**阅读字体**/
.article .entry .read p {
    margin-bottom: 6px;
}

.article .entry .read img {
    max-width: 920px;
    _width: expression(this.width > 920 ? "920px" : this.width);
}

/**文章阅读部分图片大小限制**/
.article .entry .read.set-fz12 p, .article .entry .read.set-fz12 div {
    font-size: 12px;
}

.article .entry .read.set-fz14 p, .article .entry .read.set-fz14 div {
    font-size: 14px;
}

.article .entry .read.set-fz16 p, .article .entry .read.set-fz16 div {
    font-size: 16px;
}

.article .entry .read.set-fz18 p, .article .entry .read.set-fz18 div {
    font-size: 18px;
}

.article .entry .read.set-fz20 p, .article .entry .read.set-fz20 div {
    font-size: 20px;
}

.box_wrap .infoconlum {
    float: right;
    width: 250px;
    margin: 10px auto;
    padding-top: 0px;
    overflow: hidden;
}

/**文章内容**/
.infoconlum .infoconlumtitle {
    line-height: 40px;
    font-size: 16px;
    font-family: "Microsoft yahei";
    border-bottom: 1px solid #ccc;
}

#relatedArticle {
    margin-top: 8px;
}

.infoweixin {
    margin: 10px 0;
    line-height: 40px;
    font-weight: bolder;
    text-align: center;
}

.infoweixin img {
    padding: 3px;
    border: 1px solid #ccc;
}

.infoshare {
    display: block;
    height: 40px;
    padding: 10 0px;
    padding-left: 10px;
    border: 1px solid #eee;
    background: #F4F4F4;
}

.infoshare .shareimg {
    float: left;
    display: inline-block;
    width: 33px;
    height: 40px;
    background: url("/images/main_desktop1.png") no-repeat 0px -9px;
}

.infoshare .jiathis_style_24x24 {
    float: left;
    display: inline-block;
    margin-top: 8px;
}

.infoshare .page-tools {
    margin-right: 6px !important;
    margin-top: 6px !important;
}

/**页脚开始**/
#footer {
    border-top: 1px solid #4d60a5;
    background: #2c4396;
}

#footer .inner {
    padding: 15px 0 18px 0;
}

#footer .inner p {
    font-size: 12px;
    font-family: "arial";
    line-height: 22px;
    text-align: center;
    color: #909ac1;
}

#footer .inner p span {
    margin: 0 3px;
}

#gotop {
    width: 47px;
    background: #d4dce8;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: 545px;
    z-index: 10000;
    display: none;
}

#gotop a {
    display: block;
    width: 47px;
    height: 47px;
    background: url(/images/gotop.png) no-repeat 50% 0;
    cursor: pointer;
}

#gotop a.weixin-code {
    background-position: 50% -48px;
    margin-top: 1px;
}

#gotop a.fenxiang-code {
    background-position: 50% -95px;
    margin-top: 1px;
}

#gotop a.back-top:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
}

a.weixin-code span {
    display: block;
    width: 132px;
    height: 132px;
    position: absolute;
    right: 47px;
    top: 0;
    display: none;
}

a.weixin-code span img {
    width: 100%;
    height: 100%;
}

a.weixin-code:hover span {
    display: block;
}

/**common**/
.box_wrap {
    background-color: #fff;
}

.special-image {
    display: block;
    position: relative;
}

.special-image span {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.7 \9;
    padding: 0 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.Article_Source a, .Article_Source {
    color: #4b5a90;
}

.wp_article_list .list_item span.Article_Source {
    overflow: hidden;
    height: 24px;
    max-width: 17%;
}

.wp_article_list .list_item .Article_Title {
    overflow: hidden;
    height: 24px;
    width: 78%;
}

.wp_article_list .list_item .Article_Title1 {
    overflow: hidden;
    height: 24px;
    width: 94%;
}

.wp_article_list .list_item .pr_fields {
    overflow: hidden;
    height: 24px;
    width: 89%;
}

.news-list .news-item {
    overflow: hidden;
    position: relative;
}

.news-list .news-item span.news-date {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-left: 12px;
}

.news-list .news-item span.item-date {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-left: 12px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity = 65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus
{
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default
{
    background-image: none;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default,
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active,
.btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active
{
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .badge {
    color: #fff;
    background-color: #333;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus
{
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary
{
    background-image: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active
{
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success
{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover,
.btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus,
.btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus
{
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success
{
    background-image: none;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success,
.btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus, .btn-success[disabled].focus, fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active,
.btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active
{
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:focus, .btn-info.focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #1b6d85;
}

.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn-info:active:hover, .btn-info.active:hover, .open>.dropdown-toggle.btn-info:hover,
.btn-info:active:focus, .btn-info.active:focus, .open>.dropdown-toggle.btn-info:focus,
.btn-info:active.focus, .btn-info.active.focus, .open>.dropdown-toggle.btn-info.focus
{
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}

.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info,
.btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus, .btn-info[disabled].focus, fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active,
.btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active
{
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:focus, .btn-warning.focus {
    color: #fff;
    background-color: #ec971f;
    border-color: #985f0d;
}

.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning
{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-warning:active:hover, .btn-warning.active:hover, .open>.dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus, .btn-warning.active:focus, .open>.dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus, .btn-warning.active.focus, .open>.dropdown-toggle.btn-warning.focus
{
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}

.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning
{
    background-image: none;
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus, .btn-warning[disabled].focus, fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active
{
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger
{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.btn-danger:active:hover, .btn-danger.active:hover, .open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus, .btn-danger.active:focus, .open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus, .btn-danger.active.focus, .open>.dropdown-toggle.btn-danger.focus
{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}

.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger
{
    background-image: none;
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus, .btn-danger[disabled].focus, fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active
{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}

.btn-link {
    font-weight: normal;
    color: #337ab7;
    border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link.active, .btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent;
}

.btn-link:hover, .btn-link:focus {
    color: #23527c;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-sm, .btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-block+.btn-block {
    margin-top: 5px;
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block
{
    width: 100%;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p, .alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}

.popup-hide {
    display: none;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    filter: alpha(opacity = 30);
    z-index: 1000;
    display: none;
}

.popup-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px #aaa;
    overflow: hidden;
}

.popup-title {
    padding: 10px 15px;
    background-color: #f5f4f4;
    border-bottom: 1px solid #f0f0f0;
}

.popup-title h3 {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    color: #333;
}

.popup-body {
    padding: 15px 20px;
    color: #555;
    font-size: 13px;
    line-height: 2.0em;
}

.popup-body p time {
    float: right;
    margin-top: 20px;
    color: #7f7f7f;
    font-size: 10px;
    line-height: 1.0em;
}

.popup-body pre {
    background-color: #fff8f8;
}

.popup-close {
    float: right;
    padding: 0;
    font-size: 24px;
    line-height: 1em;
    border: 0;
    background: transparent;
    color: #aaa;
    cursor: pointer;
}

.popup-close:hover {
    color: #e06969;
}

.form_group {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: block;
}

.form_label {
    margin-bottom: 0;
    text-align: right;
    width: 16.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 7px;
    display: inline-block;
    font-weight: 700;
}

.form_control {
    width: 73.33333333%;
    display: block;
    position: relative;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
    ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
    .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-sizing: border-box;
}

.form_control:focus {
    outline: none;
    border: 1px solid #9ab0f9;
    border-radius: 4px;
    box-shadow: 0 0 8px rgb(132, 201, 217);
}

.offset-2 {
    margin-left: 20%;
    width: 80%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.hasjs {
    display: none;
}

.label-default {
    background-color: #777;
}

.label-primary {
    background-color: #337ab7;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.badge-light {
    background-color: #bfbfbf;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.datatable {
    width: 100%;
    border-top: solid 0;
    border-left: solid 0;
    border-collapse: collapse;
    border-color: grey;
    border-spacing: 0;
}

.datatable .top {
    border-top: none;
}

.datatable .left {
    border-left: none;
}

.datatable .right {
    border-right: none;
}

.datatable .bottom {
    border-bottom: none;
}

.datatable td {
    width: auto !important;
    max-width: 20em !important;
    overflow: auto;
}

.datatable th {
    font-weight: bold;
}

.datatable td, .datatable th {
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 0.5em;
    font-size: 0.95em;
    text-align: center;
    overflow: hidden;
    height: 3em;
}

.odd {
    background-color: #FFFFFF;
}

.even {
    background-color: #FEF8F8;
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-edit:before {
    content: "\e065";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-trash:before {
    content: "\e020";
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-thumbs-down:before {
    content: "\e126";
}

.glyphicon-share-alt:before {
    content: "\e095";
}

.glyphicon-share:before {
    content: "\e066";
}

.glyphicon-bell:before {
    content: "\e123";
}

.ovrfl_hid {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list_content .page {
    color: #7f7f7f;
    padding-top: 20px;
    font-size: 14px;
    padding-left: 10px;
}

.tr {
    text-align: right;
}

.marginr {
	margin-right: 10px;
}

p {
    word-wrap:break-word;
}