.newsletter {
    margin-top:20px;
    width: 976px;
    padding: 12px;
    display: block;
}

.newsletter .content {
    padding-left: 50px;
    padding-right: 50px;
}

.content > p {
    font-size: 16px;
    line-height: 1.5em;
}

.main-con {
    min-height: 500px;
}

h2.title {
    text-align: center;
    margin-bottom: 50px;
}