<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
  <title id="pageTitle">东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
  <div class="inner main-con">
    <div th:if="${message != null}" class="alert alert-success" th:text="${message}"></div>

    <div class="focus box_wrap">
      <div>
        <script language="JavaScript" class="">
          var w10imgJsons = [
            {
              "src": "/images/image1.jpg",
              "original": "/images/image1.jpg",
              "title": "美丽的图书馆",
              "url": "#"
            },
            {
              "src": "/images/image2.jpg",
              "original": "/images/image2.jpg",
              "title": "美丽的图书馆",
              "url": "#"
            }
          ];
        </script>

        <div class="focus-wrap"></div>
      </div>
    </div>
    <div class="hotnews box_wrap">
      <div class="hotnews-nav">
        <div class="nav-list">
          <div id="wp_nav_w6">
            <span class="nav-cut cut-i1">|</span>
            <a class="nav-link link-i1" th:href="@{/newsletter/list}" target="_self">新闻动态</a>
          </div>
        </div>
      </div>
      <div class="hotnews-list">
        <div class="more-link">
          <a th:href="@{/newsletter/list}" class="w60_more">
            <img th:src='@{/images/more.gif}' border='0'/>
          </a>
        </div>
        <div class="news-body">
          <div id="wp_news_w60">
            <p></p>
            <ul class="news-list">
              <li class="news-item item-1" th:each="newsletter:${newsletters.content}">
                <a th:href="@{/newsletter/view/{id}(id=${newsletter.id})}" target="_blank" th:title="${newsletter.title}"
                   th:alt="${newsletter.title}" th:text="${newsletter.title}"></a>
                <span class="news-date">12-20</span> <!--th:text="${newsletter.createdDate}"-->
              </li>
            </ul>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="ml">
      <div class="panel-post panel-style2 post-7 box_wrap">
        <div class="post-head">
          <h3 class="title-bar"><span class="title-text">下载专区</span></h3>

          <div class="more-link">
            <a th:href="@{/resource/list}" class="w7_more">
              <img th:src='@{/images/more.gif}' border='0'/>
            </a>
          </div>
        </div>
        <div class="post-wrap">
          <div id="wp_news_w7">
            <p></p>
            <ul class="news-list">
              <li class="news-item item-1">
                <a href='/e0/cd/c427a123085/page.htm' target='_blank' title='人民日报评论员：抓好民主生活会这个“关键动作”'
                   alt='人民日报评论员：抓好民主生活会这个“关键动作”'>人民日报评论员：抓好民...</a>
                <span class="item-date">12-11</span>
              </li>
              <li class="news-item item-2">
                <a href='/e0/cc/c427a123084/page.htm' target='_blank' title='人民日报评论员：牢牢把握“三个见实效”的目标要求'
                   alt='人民日报评论员：牢牢把握“三个见实效”的目标要求'>人民日报评论员：牢牢把...</a>
                <span class="item-date">12-11</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mc">
      <div>
        <div class="panel-post panel-style2 post-8 box_wrap">
          <div class="post-head">
            <div class="head-bar">
              <h3 class="title-bar">
                <span class="title-text" title="活动通知">活动通知</span>
              </h3>
              <div class="more-link">
                <a th:href="@{/notice/list}" class="w8_more">
                  <img th:src='@{/images/more.gif}' border='0'/>
                </a>
              </div>
            </div>
          </div>
          <div class="post-wrap">
            <div id="wp_news_w8">
              <p>

              </p>
              <ul class="news-list">
                <li class="news-item item-1" th:each="notice:${notices.content}">
                  <span class="news-col"></span>
                  <a th:href="@{/notice/view/{id}(id=${notice.id})}" target="_blank" th:title="${notice.title}"
                     th:alt="${notice.title}" th:text="${notice.title}"></a>
                  <span class="item-date">12-20</span> <!--th:text="${notice.createdDate}"-->
                </li>
              </ul>
              <p>
                <br/>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mr">
      <div class="panel-post panel-style2 post-91 box_wrap">
        <div class="post-head">
          <h3 class="title-bar">
            <span class="title-text">队员风采</span>
          </h3>
          <div class="more-link">
            <a th:href="@{/rewardpenalty/list}" class="w91_more">
              <img th:src='@{/images/more.gif}' border='0'/>
            </a>
          </div>
        </div>
        <div class="post-wrap">
          <div id="wp_news_w91">
            <a class="news-item item-1" href=""
               target="_blank"><img src=""><em>15.12.4每周之星</em></a>
            <a class="news-item item-2" href=""
               target="_blank"><img src=""><em>15.12每月之星</em></a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="panel-post panel-style2 post-92 box_wrap">
        <div class="post-head">
          <h3 class="title-bar">
            <span class="title-text">常见问题</span>
          </h3>
          <div class="more-link">
            <a th:href="@{/question/list}" class="w93_more">
              <img th:src='@{/images/more.gif}' border='0'/>
            </a>
          </div>
        </div>
        <div class="post-wrap">
          <div id="wp_news_w93">
            <ul class="news-list clearfix">
              <li class="news-item item-1">
                <a href='' target='_blank' title='test1'
                   alt='test1'>test1</a>
              </li>
              <li class="news-item item-2">
                <a href='' target='_blank' title='test2'
                   alt='test2'>test2</a>
              </li>
              <li class="news-item item-3">
                <a href='' target='_blank' title='test3'
                   alt='test3'>test3</a>
              </li>
              <li class="news-item item-4">
                <a href='' target='_blank' title='test4'
                   alt='test4'>test4</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="mb">
      <div class="panel-post panel-style2 post-11 box_wrap">
        <div class="post-head">
          <div class="head-bar">
            <h3 class="title-bar">
              <span class="title-text" title="光影图文">光影图文</span>
            </h3>
            <div type="更多" class="more-link" target="_black" link="http://photo.hit.edu.cn/"><a
              href="http://photo.hit.edu.cn/" class="w11_more"><span><img th:src='@{/images/morer.gif}'/></span></a>
            </div>
          </div>
        </div>
        <div class="post-wrap">
          <!--<iframe allowtransparency='ture' frameborder='0' width='966px' height='140px' scrolling='no' src='http://photo.hit.edu.cn/tjtp2_1703/main.htm'></iframe>-->
          <div class="mb">
            <div class="panel-post panel-style2 post-11 box_wrap">
              <div class="post-wrap">
                <div id="topw11" class="imgscroll4_top" style="width:966px;height:100%;overflow:hidden;">
                  <table id="tabw11" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td id="beginw11">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="b imgscroll2_tpl ">
                          <tr class="r ">
                            <td nowrap="nowrap" class="i imgscroll2_td " valign="top">
                              <div>
                                <a target="_blank" href="/15/22/c3729a136482/page.htm"
                                   title="中国共产党哈尔滨工业大学第十二次代表大会胜利召开">
                                    <span class="art_thumb_pic imgscroll2_img ">
                                        <img alt="中国共产党哈尔滨工业大学第十二..."
                                             src="/_upload/article/images/da/b0/6e1a45c24fafa709e63745673dc1/9ec255f0-1c62-4030-b8e4-3bafab24cf93_s.jpg"
                                             width="140px" height="100px">
                                    </span>
                                </a>
                              </div>
                              <div style="text-align:center;line-height:25px;">
                                <a target="_blank" href="/15/22/c3729a136482/page.htm"
                                   title="中国共产党哈尔滨工业大学第十二次代表大会胜利召开">
                                    <span>
                                        中国共产党哈尔滨...
                                    </span>
                                </a>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td id="endw11"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:include="layouts/layout :: footerFragment"></div>

<script th:src="@{/js/slide.js}"></script>
<script th:src="@{/js/index.js}"></script>

</body>
</html>