<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
  <title id="pageTitle">登录 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
  <div class="inner main-con">
    <div class="alert alert-success" th:if="${param.logout}">注销成功!</div>

    <div class="login_form">
      <h3>登&nbsp;&nbsp;&nbsp;&nbsp;录</h3>

      <form th:action="@{/login}" method="post">
        <div class="alert alert-danger" th:if="${param.error}">用户名或密码错误!</div>

        <div class="form_group">
          <label for="userNumber" class="form_label">用户名</label>
          <input type="text" id="userNumber" name="userNumber" class="form_control" value="" placeholder="学号" autofocus />
        </div>
        <div class="form_group">
          <label for="password" class="form_label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
          <input type="password" id="password" name="password" class="form_control" placeholder="密码" />
        </div>
        <div class="form_group">
          <div class="offset-2">
            <label><input type="checkbox" name="remember-me" /> 记住我</label>
          </div>
        </div>
        <div class="form_group">
          <div class="center">
            <button type="submit" class="btn btn-primary">登录</button>
            <button type="reset" class="btn btn-default">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:include="layouts/layout :: footerFragment"></div>

</body>
</html>