<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
</head>
<head>
  <title>Login</title>
  <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
  <div class="inner main-con">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
      <div>
        <label for="userNumber">User Number</label>
        <input type="text" name="userNumber" id="userNumber" required="required" autofocus="autofocus" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required="required" />
      </div>
      <div>
        <label for="remember-me">Remember me</label>
        <input type="checkbox" name="remember-me" id="remember-me" />
      </div>
      <div><input type="submit" value="Sign In"/></div>
    </form>
  </div>
</div>

<div th:include="layouts/layout :: footerFragment"></div>

</body>
</html>