<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label for="userNumber">User Number</label>
        <input type="text" name="userNumber" id="userNumber" required="required" autofocus="autofocus" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required="required" />
    </div>
    <div>
        <label for="remember-me">Remember me</label>
        <input type="checkbox" name="remember-me" id="remember-me" />
    </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>