<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
  <title id="pageTitle">注册 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
  <div class="inner main-con">
    <div class="login_form">
      <h3>注&nbsp;&nbsp;&nbsp;&nbsp;册</h3>

      <form name="form" th:action="@{/register}" method="post" th:object="${form}">
        <div class="form_group">
          <label class="form_label">学号</label>
          <input type="text" class="form_control" th:field="*{userNumber}" placeholder="学号" autofocus />
          <div th:if="${#fields.hasErrors('userNumber')}" class="alert alert-danger" th:errors="*{userNumber}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">姓名</label>
          <input type="text" class="form_control" th:field="*{username}" placeholder="姓名" required />
          <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger" th:errors="*{username}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">密码</label>
          <input type="password" class="form_control" th:field="*{password}" placeholder="密码" required />
          <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">确认密码</label>
          <input type="password" class="form_control" th:field="*{passwordRepeated}" placeholder="密码" required />
          <div th:if="${#fields.hasErrors('passwordRepeated')}" class="alert alert-danger" th:errors="*{passwordRepeated}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">邮箱</label>
          <input type="email" class="form_control" th:field="*{email}" placeholder="邮箱" required />
          <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">手机</label>
          <input type="text" class="form_control" th:field="*{phone}" placeholder="手机" required />
          <div th:if="${#fields.hasErrors('phone')}" class="alert alert-danger" th:errors="*{phone}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">性别</label>
          <input type="radio" th:field="*{sex}" th:value="M" required />
          <label>男</label>
          <input type="radio" th:field="*{sex}" th:value="F" required />
          <label>女</label>
          <div th:if="${#fields.hasErrors('sex')}" class="alert alert-danger" th:errors="*{sex}"></div>
        </div>
        <div class="form_group">
          <label class="form_label">专业</label>
          <input type="text" class="form_control" th:field="*{major}" placeholder="专业" required />
          <div th:if="${#fields.hasErrors('major')}" class="alert alert-danger" th:errors="*{major}"></div>
        </div>
        <div class="form_group">
          <div class="center">
            <button type="submit" class="btn btn-primary">注册</button>
            <button type="reset" class="btn btn-default">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div th:include="layouts/layout :: footerFragment"></div>

</body>
</html>