<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User Create</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<form role="form" name="form" action="" method="post">

    <input type="hidden" th:name="*{_csrf.parameterName}" th:value="*{_csrf.token}"/>

    <div>
        <label for="userNumber">User Number</label>
        <input type="text" name="userNumber" id="userNumber" th:value="*{form.userNumber}" required autofocus th:class="${#fields.hasErrors('form.userNumber')}? fieldError"/>

    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" th:value="*{form.username}" required/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" th:value="*{form.password}" required/>
    </div>
    <div>
        <label for="passwordRepeated">Repeat</label>
        <input type="password" name="passwordRepeated" id="passwordRepeated" th:value="*{form.passwordRepeated}" required/>
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" name="email" id="email" th:value="*{form.email}" required/>
    </div>
    <div>
        <label for="phone">phone</label>
        <input type="text" name="phone" id="phone" th:value="*{form.phone}" required/>
    </div>
    <div>
        <label>sex</label>
        <input type="radio" name="sex" id="M" value="M" th:value="M" required/><label for="M">男</label>
        <input type="radio" name="sex" id="F" value="F" th:value="F" required/><label for="F">女</label>
    </div>
    <div>
        <label for="major">major</label>
        <input type="text" name="major" th:value="*{form.major}" id="major" />
    </div>
    <button type="submit">Save</button>
</form>

</body>
</html>