<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: headerFragment">
  <title id="pageTitle">下载专区 - 东华大学爱书小蜜蜂服务队</title>
</head>
<body>
<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css"/>

<div th:include="layouts/layout :: navbarFragment"></div>

<div class="wrapper" id="container">
  <div class="inner main-con">
    <div class="list_title">
      <h3>下载专区</h3>
      <hr>
    </div>
    <div class="list_content">
      <div>
        <div>
          <div th:if="${#lists.isEmpty(resources)}" class="alert alert-warning">
            <span align="center">暂无可下载的资源!</span>
          </div>
        </div>
        <div th:if="${deletion eq 'unsuccess'}" class="alert alert-danger">
          <div>
            <strong>错误!</strong> 资源未被删除
          </div>
        </div>
        <div th:if="${deletion eq 'success'}" class="alert alert-success">
          <div>
            <strong>成功!</strong> 资源成功删除
          </div>
        </div>
      </div>


      <div>
        <span>
          <i></i>
          <form th:action="@{/resource/upload}" method="post" enctype="multipart/form-data">
            <label>选择文件</label>
            <input id="fileupload" type="file" name="file" />
            <input type="submit" value="Upload">
          </form>
        </span>
      </div>
      <ul th:each="resource:${resources}">
        <li>
          <time th:text="${#temporals.format(resource.createdDate, 'yyyy/MM/dd')}"></time>
          <span id="_name" th:text="${resource.name}"></span>
          <span id="_url" th:text="${resource.url}"></span>
          <!--<span id="activity_description" th:text="${activity.description}"></span>-->
          <span class="list_button">
              <a class="btn btn-sm btn-danger" th:href="@{/resource/delete/{id}(id=${resource.id})}">删除</a>
          </span>
          <span class="list_button">
              <a class="btn btn-sm btn-warning" th:href="@{/resource/view/{digest}(digest=${resource.digest})}">下载</a>
          </span>
        </li>
      </ul>
      <div class="page_tr">
        <a th:href="@{/resource/list(page=${pageCur-1})}">上一页</a>
        <a th:href="@{/resource/list(page=${pageCur+1})}">下一页</a>
        <span>当前为第<label th:text="${pageCur+1}"></label>页，总共为<lable th:text="${pageCount}"></lable>页</span>
      </div>
    </div>
  </div>
</div>

<div th:include="layouts/layout :: footerFragment"></div>

</body>
</html>