<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layouts/layout :: headerFragment">
</head>
<head>
    <title>下载专区</title>
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:include="layouts/layout :: navbarFragment"></div>

<div>
    <span>
        <i></i>
        <form th:action="@{/resource/upload}" method="post" enctype="multipart/form-data">
            <label>选择文件</label>
            <input id="fileupload" type="file" name="file" />
            <input type="submit" value="Upload">
        </form>
    </span>
</div>

<table>
    <tr th:if="${#lists.isEmpty(resources)}">
        <td colspan="4" align="center">No Resources Posted Yet!!!</td>
    </tr>
    <tr>
        <td>资源名称</td>
        <td>资源描述</td>
    </tr>
    <tr th:each="resource:${resources}">
        <td th:text="${resource.name}"></td>
        <td th:text="${resource.url}"></td>
    </tr>
</table>

<div th:include="layouts/layout :: footerFragment"></div>

</body>
</html>